<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>web_link</key>
	<string>http://bgraphic.no/?utm_source=app&amp;amp;utm_medium=infopage&amp;amp;utm_campaign=Legevakter</string>
	<key>app_id</key>
	<string>634334048</string>
</dict>
</plist>
